
@media (prefers-reduced-motion: no-preference) {
  #App-logo {
    pointer-events: none;
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.center {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.nav-link-custom {
  text-decoration: none;
  color: white;

}

.nav-link-custom a:hover {
  text-decoration-color: white;

  
}